<h1>Remote Helper Example</h1>

<h2>Docs</h2>

<ul>
  <li>
    <%= link_to "Rails Guide", "https://guides.rubyonrails.org/working_with_javascript_in_rails.html#built-in-helpers", target: :_blank %>
  </li>
  <li>
    <%= link_to "API Docs for form_for", "https://api.rubyonrails.org/v6.0.3.1/classes/ActionView/Helpers/FormHelper.html#method-i-form_for-label-Unobtrusive+JavaScript", target: :_blank %>
  </li>
</ul>

<h2>Examples</h2>

<ul>
  <li>
    <%= link_to "Append", "#" %>
  </li>
</ul>
